{{#if registerError}}
<div class="alert alert-danger" role="alert">{{registerError}}</div>
{{/if}}


<div class="row justify-content-center pt-5">
  <div class="col-12 col-lg-8 col-xl-6">
    <form class="form-signin border rounded p-5 shadow" action="/register" method="post">

      <div class="h5 mb-4 font-weight-normal">Регистрация нового пользователя</div>

      <div class="form-row">
        <div class="form-group col-lg-4">
          <label for="lastName">Фамилия</label>
          <input name="last_name" type="text" class="form-control" id="lastName" value="{{data.last_name}}">
        </div>
        <div class="form-group col-lg-4">
          <label for="firstName">Имя</label>
          <input name="first_name" type="text" class="form-control" id="firstName" value="{{data.first_name}}">
        </div>
        <div class="form-group col-lg-4">
          <label for="patronymic">Отчество</label>
          <input name="patronymic" type="text" class="form-control" id="patronymic" value="{{data.patronymic}}">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="position">Должность</label>
          <select id="position" class="form-control" name="position">
            <option value="1" {{#equal data.position 1}} selected {{/equal}}>ассистент</option>
            <option value="2" {{#equal data.position 2}} selected {{/equal}}>преподаватель</option>
            <option value="3" {{#equal data.position 3}} selected {{/equal}}>старший преподаватель</option>
            <option value="4" {{#equal data.position 4}} selected {{/equal}}>доцент</option>
            <option value="5" {{#equal data.position 5}} selected {{/equal}}>профессор</option>
            <option value="6" {{#equal data.position 6}} selected {{/equal}}>заведующий кафедрой</option>
            <option value="7" {{#equal data.position 7}} selected {{/equal}}>декан факультета</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="academic_degree">Ученая степень</label>
          <select id="academic_degree" class="form-control" name="academic_degree">
            <option value="1" {{#equal data.academic_degree 1}} selected {{/equal}}>младший научный сотрудник</option>
            <option value="2" {{#equal data.academic_degree 2}} selected {{/equal}}>старший научный сотрудник</option>
            <option value="3" {{#equal data.academic_degree 3}} selected {{/equal}}>кандидат наук</option>
            <option value="4" {{#equal data.academic_degree 4}} selected {{/equal}}>доктор наук</option>
            <option value="5" {{#equal data.academic_degree 5}} selected {{/equal}}>член-корреспондент</option>
            <option value="6" {{#equal data.academic_degree 6}} selected {{/equal}}>академик</option>
          </select>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="academic_title">Ученое звание</label>
          <select id="academic_title" class="form-control" name="academic_title">
            <option value="1" {{#equal data.academic_title 1}} selected {{/equal}}>доцент</option>
            <option value="2" {{#equal data.academic_title 2}} selected {{/equal}}>профессор</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="dep">Кафедра</label>
          <select id="dep" class="form-control" name="department">
              <option value="1" {{#equal data.department 1}} selected {{/equal}}>инфокоммуникационныхтехнологий и систем связи</option>
              <option value="2" {{#equal data.department 2}} selected {{/equal}}>информатики ивычислительной техники</option>
              <option value="3" {{#equal data.department 3}} selected {{/equal}}>общенаучной подготовки</option>
              <option value="4" {{#equal data.department 4}} selected {{/equal}}>научно-исследовательской работы и инновационного развития</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail">Email</label>
          <input name="email" type="email" class="form-control" id="inputEmail" value="{{data.email}}">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Пароль</label>
          <input name="password" type="password" class="form-control" id="password" value="">
        </div>

        <div class="form-group col-md-6">
          <label for="passwordAgain">Пароль еще раз</label>
          <input name="passwordAgain" type="password" class="form-control" id="passwordAgain" value="">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="form-row">
        <div class="col-12 col-md-12"><button name="submit" type="submit"
            class="btn btn-success btn-block mt-4">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </div>
</div>