<div class="content container-fluid py-3">

  {{#if editError}}
  <div class="alert alert-danger" role="alert">{{editError}}</div>
  {{/if}}

  {{#if editSuccess}}
  <div class="alert alert-success" role="alert">{{editSuccess}}</div>
  {{/if}}

  <form action="/rating/edit" method="post">

    <div class="form-row">
      <div class="form-group col-1"></div>
      <div class="form-group col-1">1</div>
      <div class="form-group col-1">2</div>
      <div class="form-group col-1">3</div>
      <div class="form-group col-1">4</div>
      <div class="form-group col-1">5</div>
      <div class="form-group col-1">6</div>
      <div class="form-group col-1">7</div>
      <div class="form-group col-1">8</div>
      <div class="form-group col-1">9</div>
      <div class="form-group col-1">10</div>
    </div>

    <div class="form-row">
      <div class="form-group col-1">
        ОД
      </div>
      {{#each rating.data.OD}}
      <div class="form-group col-1">
        <input class="form-control" name="OD_{{@key}}" type="text" value="{{this}}">
      </div>
      {{/each}}
    </div>

    <div class="form-row">
      <div class="form-group col-1">
        ОП
      </div>
      {{#each rating.data.OP}}
      <div class="form-group col-1">
        <input class="form-control" name="OP_{{@key}}" type="text" value="{{this}}">
      </div>
      {{/each}}
    </div>

    <div class="form-row">
      <div class="form-group col-1">
        НД
      </div>
      {{#each rating.data.ND}}
      <div class="form-group col-1">
        <input class="form-control" name="ND_{{@key}}" type="text" value="{{this}}">
      </div>
      {{/each}}
    </div>

    <div class="form-row">
      <div class="form-group col-1">
        НП
      </div>
      {{#each rating.data.NP}}
      <div class="form-group col-1">
        <input class="form-control" name="NP_{{@key}}" type="text" value="{{this}}">
      </div>
      {{/each}}
    </div>

    <div class="form-row">
      <div class="form-group col-1">
        Р
      </div>
      {{#each rating.data.R}}
      <div class="form-group col-1">
        <input class="form-control" name="R_{{@key}}" type="text" value="{{this}}">
      </div>
      {{/each}}
    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form-row">
      <div class="col-12 col-md-6">
        <button name="submit" type="submit" class="btn btn-success btn-block mt-4">
          Сохранить изменения
        </button>
      </div>
      <div class="col-12 col-md-6">
        <a class="btn btn-danger btn-block mt-4" href="/rating/reset" role="button">
          Сбросить
        </a>
      </div>
    </div>
  </form>
</div>