<div class="content container-fluid py-3">
  <div class="row mb-3">
    <div class="col">
      {{!-- <?php if ($result): ?>
      <div class="alert alert-success" role="alert">Данные успешно изменены!</div>
      <div> <a href="/" class="btn btn-outline-success btn-block">Вернуться на главную</a> </div>
      <?php else: ?>
      <?php if (isset($errors) && is_array($errors)): ?>
      <?php foreach ($errors as $error): ?>
      <div class="alert alert-danger" role="alert"><?php echo $error; ?></div>
      <?php endforeach; ?>
      <?php endif; ?> --}}

      {{#if editError}}
      <div class="alert alert-danger" role="alert">{{editError}}</div>
      {{/if}}

      {{#if editSuccess}}
      <div class="alert alert-success" role="alert">{{editSuccess}}</div>
      {{/if}}

      <form action="/edit" method="post">

        <div class="h5 mb-4 font-weight-normal">Редактирование данных пользователя</div>

        <div class="form-row">
          <div class="form-group col-lg-4">
            <label for="lastName">Фамилия</label>
            <input name="last_name" type="text" class="form-control" id="lastName" value="{{user.last_name}}">
          </div>
          <div class="form-group col-lg-4">
            <label for="firstName">Имя</label>
            <input name="first_name" type="text" class="form-control" id="firstName" value="{{user.first_name}}">
          </div>
          <div class="form-group col-lg-4">
            <label for="patronymic">Отчество</label>
            <input name="patronymic" type="text" class="form-control" id="patronymic" value="{{user.patronymic}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="position">Должность</label>
            <select id="position" class="form-control" name="position">
              <option value="1" {{#equal user.position 1}} selected {{/equal}}>ассистент</option>
              <option value="2" {{#equal user.position 2}} selected {{/equal}}>преподаватель</option>
              <option value="3" {{#equal user.position 3}} selected {{/equal}}>старший преподаватель</option>
              <option value="4" {{#equal user.position 4}} selected {{/equal}}>доцент</option>
              <option value="5" {{#equal user.position 5}} selected {{/equal}}>профессор</option>
              <option value="6" {{#equal user.position 6}} selected {{/equal}}>заведующий кафедрой</option>
              <option value="7" {{#equal user.position 7}} selected {{/equal}}>декан факультета</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="academic_degree">Ученая степень</label>
            <select id="academic_degree" class="form-control" name="academic_degree">
              <option value="1" {{#equal user.academic_degree 1}} selected {{/equal}}>младший научный сотрудник</option>
              <option value="2" {{#equal user.academic_degree 2}} selected {{/equal}}>старший научный сотрудник</option>
              <option value="3" {{#equal user.academic_degree 3}} selected {{/equal}}>кандидат наук</option>
              <option value="4" {{#equal user.academic_degree 4}} selected {{/equal}}>доктор наук</option>
              <option value="5" {{#equal user.academic_degree 5}} selected {{/equal}}>член-корреспондент</option>
              <option value="6" {{#equal user.academic_degree 6}} selected {{/equal}}>академик</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="academic_title">Ученое звание</label>
            <select id="academic_title" class="form-control" name="academic_title">
              <option value="1" {{#equal user.academic_title 1}} selected {{/equal}}>доцент</option>
              <option value="2" {{#equal user.academic_title 2}} selected {{/equal}}>профессор</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="coef">Коэффициент</label>
            <select id="coef" class="form-control" name="coefficient">
              <option value="1" {{#equal user.coefficient 1}} selected {{/equal}}>1</option>
              <option value="2" {{#equal user.coefficient 2}} selected {{/equal}}>2</option>
              <option value="3" {{#equal user.coefficient 3}} selected {{/equal}}>3</option>
              <option value="4" {{#equal user.coefficient 4}} selected {{/equal}}>4</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="dep">Кафедра</label>
            <select id="dep" class="form-control" name="department">
              <option value="1" {{#equal user.department 1}} selected {{/equal}}>инфокоммуникационных технологий и
                систем связи</option>
              <option value="2" {{#equal user.department 2}} selected {{/equal}}>информатики и вычислительной техники
              </option>
              <option value="3" {{#equal user.department 3}} selected {{/equal}}>общенаучной подготовки</option>
              <option value="4" {{#equal user.department 4}} selected {{/equal}}> научно-исследовательской работы и
                инновационного развития</option>
            </select>
          </div>
          <div class="form-group col-md-5">
            <label for="inputEmail">Новый email</label>
            <input name="email" type="email" class="form-control" id="inputEmail" value="{{user.email}}">
          </div>
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="form-row">
          <div class="col-12 col-md-6"><button name="submit" type="submit"
              class="btn btn-success btn-block mt-4">Сохранить изменения</button>
          </div>
          <div class="col-12 col-md-6"><a class="btn btn-danger btn-block mt-4" href="/edit" role="button">Сбросить</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12"><a href="/edit/password" class="btn btn-outline-primary btn-block">Сменить пароль</a></div>
  </div>
</div>
</div>